@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/Inter.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Koulen";
  src: url("~/assets/fonts/Koulen.ttf") format("truetype");
  font-display: swap;
}
